body {
    background-image: url('PicturesNIcons/autonomes-fahren-header.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .foreground {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
  }
  .card {
    background-color: rgba(255, 255, 255, 0.8); 
    border: 2px solid #ddd; 
    border-radius: 10px; 
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .card a {
    text-decoration: none;
    color: inherit; 
  }
  .card a:hover {
    color: inherit;
  }
  .card-img-top {
    border-radius: 10px 10px 0 0;
    height: 200px;
  }